@import "share/side-bar-content.module";

.channel--offline {
  filter: grayscale(100%) contrast(85%);
  opacity: 0.8;
}

.offline-text {
  display: flex;
  align-items: center;

  color: #dedee3;
  font-size: 13px;
}

.tooltip-link-wrapper {
  display: block;

  width: 100%;

  border-radius: 4px;

  &:hover {
    background-color: rgba(83, 83, 95, 0.48);
  }

  &:active {
    background-color: rgba(83, 83, 95, 0.55);
  }
}

.tooltip-link-container {
  padding: 5px;

  text-align: center;
}

.tooltip-link-text {
  color: #efeff1;

  font-size: 13px;
  line-height: 1.5;
}
