.content-section {
  position: relative;
}

.content-section-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;

  visibility: visible;
}

.content-section-header-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;

  a {
    color: rgb(255, 103, 64);

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: rgb(255, 103, 64);
    }
  }
}

.content-list-wrapper {
  position: relative;
}

.content-list-container {
  display: flex;

  min-width: 100%;

  margin: 0 -5px;

  list-style: none;
}
