.expand {
  @media screen and (min-width: 920px) {
    width: calc(100% - 340px) !important;
  }
}

.collapse {
  width: 100% !important;
}

.video-player__inactive {
  //cursor: none;
}

.video-player__overlay {
  position: absolute;
  inset: 0;
}
