.layout {
  display: flex;
  flex-flow: column;

  height: 100%;
}

.content-layout {
  position: relative;

  display: flex;
  flex-wrap: nowrap;

  height: 100%;

  overflow: hidden;
}

.side-navbar {
  position: relative;

  z-index: 49;
}
