.page-wrapper {
  height: 100%;
}

.page-container {
  margin: 0 30px;
}

.content-wrapper {
  width: 100%;

  margin: 0 auto;

  max-width: 2000px;
}

.content-container {
  display: block;
}

.layout-wrapper {
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
