/**
*
* Shared between component
*   - recommend-live-channel-side-bar
*   - followed-channel-side-bar
*
*/

.side-navbar-section {
  display: flex;
  flex-direction: column;
}

.side-navbar-section-header {
  padding-top: 5px;
  margin: 10px;

  h2 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;

    text-transform: uppercase;
  }
}

.side-navbar-section-header-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;

  color: #adadb8;

  padding-top: 10px;
  padding-bottom: 10px;

  div {
    display: inline-flex;
    align-items: center;

    width: 20px;
    height: 20px;

    fill: currentColor;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.channels-group {
  position: relative;
}

.channel-wrapper {
  opacity: 1;

  transform: scale(1);

  transition-delay: 0ms;
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-property: transform, opacity;
}

.channel-container {
  position: relative;
}

.channel {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  height: 42px;

  padding: 5px 10px;

  &:hover {
    background-color: #26262c;
  }

  &:visited {
    color: rgb(255, 103, 64);
  }
}

.channel-avatar {
  display: flex;
  align-items: center;
}

.avatar-wrapper {
  position: relative;

  background-color: inherit;

  width: 30px;
  max-height: 100%;
  height: 30px;
}

.avatar {
  display: block;

  width: 100%;

  border-radius: 9999px;

  //optional
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.channel-details-wrapper {
  width: 100%;

  margin-left: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-details-container {
  display: flex;
  justify-content: space-between;
}

.channel-name-wrapper {
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-name {
  display: flex;
  align-items: center;

  p {
    flex-grow: 1;

    color: #dedee3 !important;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.channel-current-category {
  padding-right: 5px;

  p {
    color: #adadb8;

    font-size: 13px;
    line-height: 1.2;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.channel-live-view-wrapper {
  flex-shrink: 0;

  min-width: 40px;

  margin-left: 5px;
}

.channel-live-view-container {
  display: flex;
  align-items: center;
}

.live-icon {
  position: relative;

  display: inline-block;

  background-color: #eb0400;

  width: 8px;
  height: 8px;

  border-radius: 9999px;
}

.total-live-view {
  margin-left: 5px;

  span {
    color: #dedee3;
    font-size: 13px;
  }
}

.seo {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);

  width: 1px;
  height: 1px;

  font-size: 13px;
  line-height: 1.2;

  border: none;

  margin: -1px;
  padding: 0;

  overflow: hidden;
}

.tooltip-body {
  min-width: 160px;
  max-width: 90vw;

  padding: 5px !important;
}

.tooltip-content {
  min-width: 200px;

  padding-left: 5px;
  padding-right: 5px;
}

.tooltip-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: #efeff1;

  max-width: 200px;

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}

.tooltip-text-collapse {
  color: rgb(255, 103, 64);

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}

.tooltip-live-collapse {
  display: flex;
  align-items: center;

  div {
    position: relative;

    display: inline-block;

    background-color: #eb0400;

    width: 8px;
    height: 8px;

    border-radius: 9999px;
  }

  span {
    color: #adadb8;

    padding-left: 5px;

    white-space: nowrap;
  }
}

/**
* Below only used for followed-channel-side-bar
*/

.channel--offline {
  filter: grayscale(100%) contrast(85%);
  opacity: 0.8;
}

.offline-text {
  display: flex;
  align-items: center;

  color: #dedee3;
  font-size: 13px;
}

.tooltip-link-wrapper {
  display: block;

  width: 100%;

  border-radius: 4px;

  &:hover {
    background-color: rgba(83, 83, 95, 0.48);
  }

  &:active {
    background-color: rgba(83, 83, 95, 0.55);
  }
}

.tooltip-link-container {
  padding: 5px;

  text-align: center;
}

.tooltip-link-text {
  color: #efeff1;

  font-size: 13px;
  line-height: 1.5;
}

/**
* Above only used for followed-channel-side-bar
*/

.show-more-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 8px 10px 5px;

  line-height: 1.7;

  text-align: left;

  text-transform: capitalize;

  overflow: hidden;
}

.show-more-btn {
  color: rgb(255, 103, 64) !important;
  background: transparent !important;

  height: fit-content !important;

  padding: 0 !important;

  &:hover {
    text-decoration: underline;
  }
}

.divider {
  background-color: rgb(36 39 44);

  height: 0.125rem;

  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
}
