.identity-preview-btn {
  justify-content: space-between !important;
  align-items: flex-start !important;

  width: 100% !important;
  height: 100% !important;

  border-radius: 4px !important;

  padding: 0 !important;

  &:hover {
    background-color: hsla(
      var(--color-background-interactable-hover)
    ) !important;
  }

  &:active {
    background-color: hsla(
      var(--color-background-interactable-active)
    ) !important;
  }
}

.identity-text-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.chat-badge-wrapper {
  display: inline;
}

.chat-badge {
  max-width: 100%;

  margin-bottom: 1.5px;
  margin-right: 3px;

  vertical-align: middle;
}

.identity-text-container {
  font-weight: 600;
}

.edit-appearance-button {
  display: flex;
  align-items: center;
}

.edit-appearance-icon {
  display: inline-flex;
  align-items: center;

  width: 20px;
  height: 20px;

  fill: currentColor;

  svg {
    width: 20px;
    height: 20px;
  }
}
