.notify-content-wrapper {
  background-color: #1b1d2a !important;

  width: 516px !important;

  border: 0 !important;
  border-radius: 10px !important;

  padding: 0 !important;

  box-shadow: 0 12px 24px rgba(47, 63, 86, 0.2) !important;
}
