.site-header-layout-wrapper {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;

  background-color: hsl(var(--admin-background));

  height: 4rem;

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.site-header-breadcrumb-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.site-header-breadcrumb-left-placeholder {
  flex-shrink: 0;

  background-color: hsl(var(--border));

  width: 1px;
  height: 1rem;
}

.site-header-breadcrumb-container {
  color: hsl(var(--admin-muted-foreground)) !important;
}

.site-header-breadcrumb-link {
  &:hover {
    color: hsl(var(--admin-foreground)) !important;
  }
}

.site-header-breadcrumb-span {
  color: hsl(var(--admin-foreground)) !important;
}

.site-header-user-action-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding-right: 1rem;
  padding-left: 1rem;
}

.site-header-user-nav-button {
  width: 2rem !important;
  height: 2rem !important;

  border-radius: 9999px !important;

  &:hover {
    color: hsl(var(--admin-accent-foreground)) !important;
    background-color: hsl(var(--admin-accent)) !important;
  }

  &:focus-visible {
    box-shadow: none !important;
  }

  span {
    width: 2rem !important;
    height: 2rem !important;

    span {
      background-color: hsl(var(--admin-muted)) !important;
    }
  }
}

.user-nav-dropdown-content-wrapper {
  color: hsl(var(--admin-popover-foreground)) !important;
  background-color: hsl(var(--admin-popover)) !important;

  width: 14rem !important;
  min-width: 8rem !important;

  border-color: transparent !important;

  padding: 0.25rem !important;

  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1) !important;
}

.user-nav-dropdown-content-label-wrapper {
  padding: 0.375rem 0.5rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.user-nav-dropdown-content-label-container {
  display: flex;
  flex-direction: column;

  p:first-child {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 500;
  }

  p:nth-child(2) {
    color: hsl(var(--admin-muted-foreground));

    margin-top: 4px;

    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
  }
}

.dropdown-separator {
  background-color: hsl(var(--admin-muted)) !important;
}

.dropdown-button {
  &:hover {
    color: currentColor !important;
    background-color: hsl(var(--admin-accent)) !important;
  }
}

.logout {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0.15s !important;

  &:hover {
    color: currentColor !important;
    background-color: hsl(var(--admin-accent)) !important;
  }

  svg {
    width: 16px !important;
    height: 16px !important;

    fill: currentColor !important;
  }
}
