.login-modal-wrapper {
  background-color: #18181b !important;

  max-width: 100% !important;
  width: 500px !important;

  border: 0 solid transparent !important;
  border-radius: 4px !important;

  padding: 0 !important;
}
