.resize-detector {
  inset: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.resize-detector__grow,
.resize-detector__shrink {
  position: absolute;
  top: 0;
  left: 0;

  transition: 0s;
}
