.card-skeleton-wrapper {
  flex: 1 0 auto;

  max-width: 100%;
  width: 30rem;

  padding: 0 5px;
}

.card-skeleton-container {
  display: flex;
  flex-flow: column;
}

.card-image-skeleton-wrapper {
  position: relative;

  width: 100%;

  overflow: hidden;
}

.card-image-skeleton-overlay {
  padding-bottom: 56.25%;
}

.card-image-skeleton-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 100%;
}

.image-skeleton {
  display: flex;
  align-items: center;

  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 1.7em;

  &:before {
    display: block;

    background-color: rgba(83, 83, 95, 0.38);

    width: 100%;
    max-width: 100%;
    min-height: calc(1em);
    height: 100%;

    border-radius: 2px;

    content: "";
  }
}

.description-skeleton-wrapper {
  position: relative;
}

.description-skeleton-container {
  display: flex;

  margin-bottom: 20px;
}

.avatar-skeleton-wrapper {
  display: inline-block;

  height: 40px;

  border-radius: 9999px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

  overflow: hidden;
}

.avatar-skeleton-container {
  display: flex;
  align-items: center;

  max-width: 100%;
  width: 40px;
  height: 40px;
  min-height: 0;

  &:before {
    display: block;

    background-color: rgba(83, 83, 95, 0.38);

    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 0;

    border-radius: 2px;

    content: "";
  }
}

.content-skeleton-wrapper {
  display: inline-block;
  margin-top: 10px;
}

.content-skeleton-container {
  font-size: 13px;
  line-height: 1.5;
}

.content-smaller-skeleton-container {
  font-size: 12px;
  line-height: 1.5;
}

.title-skeleton-wrapper {
  display: flex;
  align-items: center;

  max-width: 100%;
  width: 150px;
  height: 100%;
  min-height: 1.7em;

  &:before {
    display: block;

    background-color: rgba(83, 83, 95, 0.38);

    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: calc(1em);

    border-radius: 2px;

    content: "";
  }
}

.common-skeleton-wrapper {
  display: flex;
  align-items: center;

  max-width: 100%;
  width: 100px;
  height: 100%;
  min-height: 1.7em;

  &:before {
    display: block;

    background-color: rgba(83, 83, 95, 0.38);

    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: calc(1em);

    border-radius: 2px;

    content: "";
  }
}
