.post-action-wrapper {
  display: inline-flex;
  align-items: center;

  color: hsl(var(--admin-foreground)) !important;
  background-color: transparent !important;

  margin-left: 16px;

  &:focus-visible {
    box-shadow: none !important;
  }

  &:hover {
    background-color: #2b2e3c !important;
  }

  svg {
    color: rgba(255, 255, 255, 0.45);
  }
}

.dropdown-content-wrapper {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #1b1d2a !important;

  width: 14rem !important;
  min-width: 8rem !important;

  border-color: transparent !important;

  padding: 0.25rem !important;

  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.dropdown-content-label-wrapper {
  padding: 0.375rem 0.5rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.dropdown-item {
  &:hover {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #343746 !important;
  }
}

.svg {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;
}
