.dropdown-trigger {
  background-color: transparent !important;

  max-width: 200px !important;
  width: 100%;
  height: calc(100% - 10px) !important;

  padding: 5px 0 !important;

  overflow: hidden;

  &:focus-visible {
    box-shadow: none !important;
  }
}

.dropdown-trigger-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;

  margin-right: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upper-text {
  font-size: 13px;
  line-height: 1.5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.layout-text {
  color: hsl(var(--foreground-alt-2));

  font-size: 12px;
  line-height: 1.5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-trigger-arrow-wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;

  width: 20px;
  height: 20px;

  margin-right: 10px;
}

.dropdown-trigger-arrow-container {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 100%;

  svg {
    fill: currentcolor;
  }
}

.dropdown-content {
  max-width: 90vw !important;
  width: 200px !important;
  min-width: 160px !important;
}

.dropdown-item {
  position: relative;

  display: flex;
  justify-content: flex-start !important;
  align-items: center;

  background-color: transparent !important;

  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 30px !important;

  border-radius: var(--radius) !important;

  padding: 5px !important;

  font-size: 13px !important;
  line-height: 1.5;

  outline: 2px solid transparent;
  outline-offset: 2px;

  text-align: left;

  cursor: pointer !important;

  transition: none !important;

  &:hover,
  &:focus {
    color: initial !important;
    background-color: rgb(71 79 84) !important;
  }

  &:active {
    color: initial !important;
    background-color: rgba(83, 83, 95, 0.55) !important;
  }

  &:focus-visible {
    box-shadow: none !important;
  }
}

.item-separator {
  background-color: rgb(83, 83, 95) !important;

  margin: 0.5rem 0.25rem !important;
}
