.site-header-wrapper {
  position: relative;

  flex-shrink: 0;

  background-color: rgb(36, 39, 44);

  width: 100%;
  height: 50px;

  margin-bottom: 1px;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.9),
    0 0 2px rgba(0, 0, 0, 0.9);
}

.site-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.site-header-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.site-header-text-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  min-width: fit-content;
  height: 100%;

  margin-left: 10px;
}

.current-page-title-wrapper {
  margin-left: 10px;

  p {
    font-size: 18px;
    line-height: 1.5;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.stream-manager-layout-wrapper {
  min-width: fit-content;
  height: 100%;
}

.site-header-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 2;

  width: 100%;
}

.additional-item {
  color: hsl(var(--foreground)) !important;
  background-color: transparent !important;

  width: 30px !important;
  height: 30px !important;

  border-radius: var(--radius);

  padding: 0 !important;

  margin-left: 5px !important;
  margin-right: 5px !important;

  user-select: none;

  cursor: pointer;

  &:hover {
    color: hsl(var(--foreground)) !important;
    background-color: rgb(71 79 84) !important;
  }
}

.additional-item-wrapper {
  width: 20px;
  height: 20px;

  pointer-events: none;
}

.additional-item-container {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 100%;

  fill: currentColor;

  svg {
    width: 100%;
    height: 100%;
  }
}

.user-item-wrapper {
  display: flex;

  height: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.user-item-container {
  position: relative;

  display: flex;
  align-items: stretch;
  flex-grow: 1;

  height: 100%;

  padding-left: 5px;
}

.user-item-trigger {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent !important;

  width: 30px !important;
  height: 30px !important;

  padding: 0 !important;

  border-width: 0 !important;
  border-radius: 9999px !important;

  cursor: pointer;

  overflow: hidden;

  &:focus-visible {
    outline: none !important;

    box-shadow: none !important;
  }
}

.user-item-trigger-wrapper {
  background-color: hsl(var(--background));
}

.user-item-trigger-container {
  position: relative;

  background-color: inherit;

  width: 30px;
  max-height: 100%;
  height: 30px;
}

.user-image {
  display: block;

  width: 100%;

  border-radius: 9999px;

  user-select: none;
}

.dropdown-menu {
  max-width: 90vw;
  min-width: 160px !important;
  max-height: calc(100vh - 5rem);
  height: 100%;

  padding: 0 !important;

  //overflow: auto !important;

  &::-webkit-scrollbar {
    display: none;

    height: 0;
    width: 0;
  }
}

.dropdown-menu-wrapper {
  height: 100%;
}

.account-item-wrapper {
  width: 100%;
}

.account-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 5px;
}

.account-image-wrapper {
  margin-right: 10px;
}

.account-image-container {
  position: relative;

  width: 40px;
  max-height: 100%;
  height: 40px;
}

.account-image {
  display: block;

  width: 100%;

  border-radius: 9999px;
}

.account-details {
  display: flex;
  flex-direction: column;
}

.account-text {
  color: hsl(var(--foreground));

  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.account-text-wrapper {
  display: flex;
  align-items: center;

  margin-top: 5px;

  p {
    color: hsl(var(--foreground-alt-2));

    font-size: 13px;
    line-height: 1.5;
  }
}

.dropdown-item {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: 4px;

  padding: 5px !important;

  font-size: 0.875rem;
  line-height: 1.25rem;

  outline: 2px solid transparent;
  outline-offset: 2px;

  cursor: pointer !important;

  transition: none !important;

  svg {
    display: block;
    vertical-align: middle !important;

    width: 20px !important;
    height: 20px !important;

    margin-right: 5px !important;

    fill: #fff;
  }

  &:hover,
  &:focus {
    color: initial !important;
    //background-color: rgba(83, 83, 95, 0.48) !important;
    background-color: rgb(71 79 84) !important;
  }

  &:active {
    color: initial !important;
    background-color: rgba(83, 83, 95, 0.55) !important;
  }
}

.dropdown-item-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end !important;
  align-items: center;
}

.item-separator {
  background-color: rgb(83, 83, 95) !important;

  margin: 0.5rem 0.25rem !important;
}

.title-loading {
  background-color: rgba(83, 83, 95, 0.38);

  width: 100px;
  height: 10px;
}
