.root-page-layout-wrapper {
  //position: relative;
  //top: 80px;

  position: relative;

  //flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 768px;
  height: 100%;
  //min-height: calc(100% - 80px);

  overflow-y: scroll;

  transition:
    padding-right,
    padding-left 0.3s ease;
}

.root-page-layout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  max-width: 1208px;
  width: 100%;

  padding: 0 0;
  margin-top: 15px;
}

.root-page-layout-overlay {
  flex: 1;

  background: #1b1d2a;

  max-width: 848px;

  border-radius: 16px;
}

.root-page-content-wrapper {
  width: 100%;

  padding-bottom: 80px;
}

.root-page-content-container {
  background: #1b1d2a;

  border-radius: 16px;
}

.root-page-container-right-wrapper {
  position: sticky;
  top: 15px;

  flex-shrink: 0;

  width: 336px;

  margin-left: 24px;
}

.root-page-container-right-container {
  width: 100%;
}

.root-page-container-right-overlay {
  height: 500px;

  & > div {
    width: 336px;

    padding-bottom: 80px;
  }
}

.post-now-side-section-wrapper {
  background-color: #1b1d2a;

  border-radius: 16px;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.post-now-side-section-header-wrapper {
  display: flex;
  align-items: center;

  height: 24px;

  padding: 0 16px;
  margin-bottom: 12px;
}

.post-now-side-section-header-text-wrapper {
  flex-grow: 1;

  color: rgba(255, 255, 255, 0.85);

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.post-now-side-section-header-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  max-height: 24px;

  padding-right: 12px;

  font-size: 16px;
  line-height: 24px;

  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommend-friend-content-wrapper {
  position: relative;

  padding: 0 4px;
}

.recommend-friend-content-container {
  display: flex;
  flex-direction: column;
}
