.right-column__toggle-visibility {
  left: 10px;
  top: 10px;
}

.toggle-visibility__right-column {
  position: absolute;

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  visibility: visible;

  z-index: 10;
}

.toggle-visibility__right-column--expanded {
  transform: translateX(-340px);

  transition: transform 0.5s;
}

.toggle-visibility__right-column--collapsed {
  top: 15px !important;
  left: -35px !important;
}

.toggle-visibility__right-column-wrapper {
  display: inline-flex;
}

.right-column__toggle-collapse-btn {
  color: hsl(var(--color-hinted-grey-14)) !important;
  background-color: transparent !important;

  width: 30px !important;
  height: 30px !important;

  border-radius: 4px !important;

  padding: 0 !important;

  font-size: 13px !important;
  font-weight: 600 !important;

  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  vertical-align: middle;

  text-decoration: none;

  &:hover {
    background-color: hsla(
      var(--color-background-interactable-hover)
    ) !important;
  }
}

.right-column__toggle-collapse-btn-wrapper {
  width: 20px;
  height: 20px;

  pointer-events: none;
}

.right-column__toggle-collapse-btn-container {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 100%;
}

.right-column__toggle-collapse-btn-overlay {
  position: relative;

  width: 100%;

  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    fill: currentcolor;
  }
}
