.content-section {
  position: relative;
}

.content-section-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;

  visibility: visible;
}

.content-section-header-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;

  a {
    color: hsl(var(--color-twitch-orange-11));

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: hsl(var(--color-twitch-orange-11));
    }
  }
}

.content-list-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.content-list-container {
  display: flex;
  flex-wrap: wrap;

  min-width: 100%;

  margin: 0 -5px;

  list-style: none;
}
