.icons-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &[data-side="left"] {
    padding-right: 5px;
  }

  &[data-side="right"] {
    margin-left: 20px;
  }
}

.icons-container {
  display: flex;
  align-items: center;
}

.icons-overlay {
  display: inline-flex;
  align-items: center;

  width: 20px;
  height: 20px;

  fill: currentColor;

  svg {
    width: 20px;
    height: 20px;
  }
}
