.site-header-btn-wrapper {
  position: relative;
}

.site-header-btn-container {
  display: inline-flex;
}

.site-header-btn {
  display: flex;

  background-color: rgba(83, 83, 95, 0.48) !important;

  width: 36px !important;
  height: 36px !important;

  border-radius: calc(var(--radius) + 2px) !important;

  padding: 6px !important;

  div {
    display: inline-flex;
    align-items: center;

    width: 24px;
    height: 24px;

    fill: currentColor;
  }

  svg {
    height: 24px !important;
    width: 24px !important;
  }
}
