.auth-form-layout {
  display: flex;
  flex-direction: column;

  background-color: hsl(var(--background));

  width: 100% !important;

  border: 0 !important;
  border-radius: var(--radius);

  padding: 30px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-header-wrapper {
  color: #fff;

  padding: 0 !important;
  margin-top: 5px;
  margin-bottom: 2.5rem !important;
}

.modal-header-container {
  position: relative;
}

.tab-control-wrapper {
  justify-content: flex-start !important;
  gap: 1rem !important;

  color: initial !important;
  background-color: transparent !important;

  padding: 0 !important;
}

.tab-control {
  align-self: center;

  height: 100% !important;

  border-radius: 0 !important;

  padding: 0.5rem 0 !important;

  font-size: 1rem !important;

  cursor: pointer;

  font-weight: 700;

  transition: none !important;

  &[data-state="active"] {
    color: initial;
    background-color: transparent !important;

    border-bottom: 2px solid hsl(var(--color-twitch-orange-11));
  }
}

.form-layout-wrapper {
  margin: 2.5rem 0 0 !important;
}

.form-layout-container {
  padding: 0 !important;
}
