.category-card {
  flex: 1 0 auto !important;

  width: 180px !important;
}

.category-card-skeleton {
  flex: 1 0 auto !important;

  width: 180px !important;
}

.skeleton-placeholder {
  flex: 1 0 auto;

  max-width: 100%;
  width: 180px;

  padding: 0 5px;
}
