.panel-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #1f1f23;

  width: 100%;
  height: 30px;

  border-bottom: 1px solid #000;

  padding-left: 10px;
  padding-right: 5px;
}

.panel-header-text-wrapper {
  margin-right: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-header-text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-header-control {
  display: flex;
  margin-left: auto;
}

.panel-header-close {
  width: 24px;
  height: 24px;

  cursor: default;

  pointer-events: all;
}

.close-btn {
  color: #efeff1 !important;
  background-color: transparent !important;

  width: 24px !important;
  height: 24px !important;

  border-radius: 2px !important;

  padding: 0 !important;

  font-size: 12px !important;
  font-weight: 600 !important;

  user-select: none;

  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: rgba(83, 83, 95, 0.48) !important;
  }
}

.close-btn-wrapper {
  width: 16px;
  height: 16px;

  pointer-events: none;
}

.close-btn-container {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 100%;

  fill: currentColor;
}
