.channel-about-layout-wrapper {
  position: relative;

  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.about-panel-wrapper {
  display: flex;
  justify-content: center;
}

.about-panel-container {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  width: 100%;
}

.about-section-wrapper {
  width: 100%;

  margin-bottom: 30px;
}

.about-section-header-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.about-section-header-text {
  margin-right: 3px;
}

.about-section-header {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

.about-section-icon-wrapper {
  display: flex;
  align-items: center;

  height: 100%;

  margin-left: 2px;
}

.about-section-icon-container {
  display: inline-flex;
  align-items: center;

  width: 20px;
  height: 20px;

  fill: hsl(var(--color-twitch-orange-11));
}

.about-section-container {
  display: flex;

  background-color: #18181b;

  border-radius: 4px;

  padding: 20px;
}

.about-section-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.about-section-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;

  @media (min-width: 480px) {
    padding-right: 10px;
  }
}

.about-section-content-header-wrapper {
  margin-bottom: 10px;
}

.about-section-content-header-container {
  color: #adadb8;

  font-size: 14px;
}

.about-section-content-header-overlay {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.follower-count-wrapper {
  display: flex;
  align-items: center;

  height: 100%;

  span {
    color: #efeff1;

    margin-right: 5px;

    font-size: 14px;
    font-weight: 600;
  }
}

.about-section-content {
  font-size: 14px;
  line-height: 1.5;

  word-break: break-word;
}
