.side-nav--expand {
  width: 220px;
}

.side-nav--collapse {
  width: 62px;
}

.scroll-area {
  position: relative;

  display: flex;
  flex-grow: 1 !important;

  height: 100%;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  z-index: 0;
}

.collapse-toggle--collapse {
  width: 100% !important;
  min-height: 41px !important;

  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 3px !important;
}

.svg {
  fill: currentcolor;
}
