.search-wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;
}

.tags-filter-dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

.sort-by-wrapper {
  display: flex;
}

.sort-by-text {
  flex-grow: 0;
  flex-shrink: 0;

  color: #f7f7f8;

  padding-right: 5px;

  font-weight: 700;

  align-self: center;
}

.sort-by-dropdown {
  margin-left: 5px;
}

.sort-by-trigger {
  gap: 5px;

  color: rgb(255 255 255) !important;
  background-color: rgb(23 28 30) !important;

  height: 30px !important;

  border: 0 !important;

  padding: 0 !important;

  font-weight: 600;

  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;

    box-shadow: none !important;
  }
}

.sort-by-trigger-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;

  padding: 0 8px 0 10px !important;
}

.sort-by-trigger-icon-wrapper {
  display: flex;
  align-items: center;

  width: 20px;

  margin-left: 5px;
}

.sort-by-content {
  color: #fff !important;
  background-color: rgb(36 39 44) !important;

  border: 0 !important;

  padding: 10px !important;
}

.dropdown-content {
  width: 100% !important;
  min-width: 250px !important;
}

.dropdown-menu-item {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: 4px;

  font-size: 14px;
  line-height: 1.2;

  outline: 2px solid transparent;
  outline-offset: 2px;

  cursor: pointer !important;

  transition: none !important;

  svg {
    display: block;
    vertical-align: middle;

    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    color: initial !important;
    //background-color: rgba(83, 83, 95, 0.48) !important;
    background-color: rgb(71 79 84) !important;
  }
}

.current-select {
  color: initial !important;
  background-color: rgb(255, 103, 64) !important;

  &:hover {
    color: initial !important;
    background-color: rgb(255, 103, 64) !important;
  }
}

.dropdown-item-link {
  width: 100%;
}

.dropdown-svg {
  margin-right: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;

  padding: 5px;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  width: 20px;
  height: 20px;

  margin-left: 20px;
}
