.empty-post-screen-wrapper {
  background-color: #1b1d2a;

  width: 100%;
  height: 300px;

  border-radius: 16px;

  padding-top: 160px;
  padding-bottom: 80px;
}

.empty-post-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.empty-post-screen-text {
  color: rgba(255, 255, 255, 0.45);

  max-width: 560px;

  padding: 0;
  margin: 0 auto 0 auto;

  font-size: 14px;
  line-height: 20px;

  word-break: break-word;
  text-align: center;
}
