.add-user-btn {
  align-self: end;

  color: hsl(var(--primary-foreground)) !important;
  background-color: hsl(var(--primary)) !important;

  width: fit-content !important;
  height: 2rem !important;

  padding: 0 0.75rem !important;

  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 500;

  svg {
    width: 0.875rem;
    height: 0.875rem;

    margin-right: 0.25rem;
  }

  &:hover {
    background-color: hsl(var(--primary) / 0.9);
  }
}

.dialog-content {
  color: hsl(var(--admin-foreground)) !important;
  background-color: hsl(var(--admin-background)) !important;

  max-width: 650px !important;

  max-height: 700px !important;

  border-width: 0 !important;

  overflow-y: scroll !important;

  & > button {
    color: hsl(var(--admin-foreground)) !important;
    background-color: transparent !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.78);
    }
  }
}

.dialog-header {
  h2,
  p {
    color: inherit !important;
  }
}

.form {
  display: grid;
  gap: 1rem;

  padding-bottom: 1rem;
}

.form-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  margin: 0 !important;

  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;

  text-align: right;
}

.form-input {
  color: inherit !important;
  background-color: hsl(var(--admin-background)) !important;

  max-width: 100% !important;
  width: 100%;

  border-color: inherit !important;

  &:focus {
    box-shadow: none !important;
  }

  &:focus-visible {
    box-shadow:
      0 0 #0000,
      0 0 0 1px hsl(var(--ring)),
      0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  }
}

.form-group {
  display: flex;
  gap: 0.75rem;

  width: 100%;

  div {
    width: 100%;
  }
}

.select-btn {
  color: inherit !important;
  background-color: hsl(var(--admin-background)) !important;
}
