.chat-hide-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: hsl(var(--foreground));

  width: 100%;
  height: 100%;

  border-left: 1px solid hsla(var(--color-opac-gd-2));
}

.chat-hide-text-wrapper {
  margin-bottom: 10px;
}

.chat-hide-text {
  font-size: 14px;
  line-height: 1.5;
}

.chat-hide-btn {
  width: fit-content !important;
  height: 30px !important;

  color: #fff !important;
  background-color: hsl(var(--color-twitch-orange-11)) !important;

  border-radius: var(--radius) !important;

  padding: 0 !important;

  font-size: 13px;
  font-weight: 600;

  vertical-align: middle;

  overflow: hidden;
  white-space: nowrap;

  text-decoration: none;

  user-select: none;

  &:hover {
    background-color: hsl(var(--color-twitch-orange-12)) !important;
  }
}

.chat-hide-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 0;

  padding: 0 10px;
}

.chat-hide-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
}
