.stream-chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: hsl(var(--background));

  width: 100% !important;
  height: 50px;

  border-bottom: 1px solid hsla(var(--color-background-interactable-hover));

  padding-left: 10px;
  padding-right: 10px;

  z-index: 10;
}

.stream-chat-header-text {
  display: flex;
  align-items: center;
}

.chat-room-header-label {
  color: hsl(var(--foreground-alt));

  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;

  text-transform: uppercase;
}
