@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-error: var(--color-red);

  --color-background-success: var(--color-green);

  --color-fill-live: var(--color-red);
  --color-fill-recording: var(--color-red);

  --background: 240 6% 10%; // #18181b
  --foreground: 240 7% 94%; // #efeff1

  --background-alt: 240 6% 13%; // #1f1f23
  --foreground-alt: 240 8% 88%; // #dedee3

  --background-alt-2: 240 7% 16%; // #26262c
  --foreground-alt-2: 240 7% 70%; // #adadb8

  --color-twitch-orange-11: 12 100% 63%; // #ff6740
  --color-twitch-orange-12: 12 84% 56%; // #ed5732

  --color-red-11: 1 100% 75%; // #ff8280

  --color-hinted-grey-1: 240 7% 6%; // #0e0e10
  --color-hinted-grey-14: 240 7% 94%; // #efeff1
  --color-hinted-grey-15: 240 7% 97%; // #f7f7f8

  --color-background-interactable-hover: 240, 7%, 35%, 0.47843137254901963; // #53535f7a, hsla(240, 7%, 35%, 0.47843137254901963)
  --color-background-interactable-active: 240, 7%, 35%, 0.55; // #53535f, rgba(83, 83, 95, 0.55)

  --color-red: 1 100% 46%; // #eb0400

  --color-green: 156 100% 48%; // #00f593

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --border-hover: 240 2.1% 71.96%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;

  --radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  border: 0 solid hsl(var(--border));
  text-size-adjust: 100%;

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    border: 4px solid transparent;
    //background-clip: padding-box;
  }
}

*[data-radix-popper-content-wrapper] {
  z-index: 51 !important
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  //overflow-x: hidden;
  background-color: rgb(11, 14, 15);

  font-family:
    "Roboto",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

img {
  max-width: 100%;
  height: auto;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.stream-manager--page-view {
  display: flex;

  width: 100%;
  height: 100%;
}

.stream-manager--page-view .sm-mosaic--editing {
  max-width: calc(100% - 40px);
}

.sm-sliding-edit-menu {
  position: fixed;
  top: 50px;
  right: 0;

  padding-right: 2px;
}

.sm--edit-menu__container {
  transition-delay: 0ms;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: none;
  transform: translateX(0px);
}

.sm--edit-menu {
  flex: 1;

  height: 100vh;

  transition: width 0.2s linear;
}

.sm--edit-menu__condensed {
  width: 40px;
}

.sm--edit-menu__full {
  width: calc(440px - 2px);
}

.sm--edit-menu__slider {
  display: flex;

  background-color: hsl(var(--background-alt));

  width: 440px;
  max-height: calc(100% - 50px);
  height: 100%;

  border-left: 1px solid rgba(83, 83, 95, 0.48);
  border-top: 1px solid rgba(83, 83, 95, 0.48);
  border-bottom: 1px solid rgba(83, 83, 95, 0.48);

  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.4),
    0 0 4px rgba(0, 0, 0, 0.4);
}
