.page-wrapper {
  margin: 0 30px;
}

.page-container {
  max-width: 2000px;
  
  margin: 0 auto;
}

.layout-wrapper {
  display: block;
}

.content {
  padding-top: 20px;
  padding-bottom: 30px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;

  min-width: 100%;

  margin: 0 -5px;

  list-style: none;
}
